body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h2 {
  text-align: center;
}

p {
  text-align: center;
}

.cat-container {
  border: 1px solid black;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.img-container {
  height: 18em;
  width: 20em;
}

.img-container img {
  height: 100%;
  width: 100%;
}

/* .slide-buttons {
  display: flex;
  align-items: center;
} */

.slide-container, .quiz-container, .result-container {
  background-image: url('/src/images/chalkboard.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  border: 1px solid black;
  border-radius: 10px;
  color:rgba(255,255,255,0.7);
  display: flex;
  flex-direction: column;
  font: 25px 'Gloria Hallelujah';
  height: 80vh;
  justify-content: space-evenly;
  margin: 0 auto;
  padding: 0em 2em;
  text-shadow:0 0 4px rgba(255,255,255,0.6);
  width: 60%;
}

.quiz-container form {
  margin: 0 2em;
}

.quiz-container h4, .result-container h4 {
  margin: 4em 0;
  padding: 0;
  text-align: center;
}

.quiz-container, .result-container {
  display: block;
}

.quiz-result-options {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto;
  margin-top: 4em;
  width: 15em;
}

.quiz-retake {
  color: orange;
  cursor: pointer;
  font-size: 0.8em;
}

.slide-container button {
  background: none;
  border: none;
  color: inherit;
  cursor: pointer;
  font: inherit;
  outline: inherit;
  padding: none;
  text-shadow:0 0 4px rgba(255,255,255,0.6);
}

.test {
  align-self: flex-end;
  margin-right: 2.5em;
}
